
<div class="container_booking">
  <h1 class="booking_title">Booking a venir</h1>
  <div class="cards">
    <% @bookings.each do |booking| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path booking.place.photo.key, height: 300, crop: :fill %>')">
        <div class="card-name">
          <h2><%= link_to booking.place.name, booking_path(booking) %></h2>

        </div>
          <div class="card-action">

            <div>
              <p><i class="fa-solid fa-people-group"></i> <%= booking.place.capacity %> <i class="fa-solid fa-euro-sign"></i> <%= booking.place.price_per_day %></p>
            </div>
        </div>
      </div>
    <% end %>
  </div>
    <br>
  <h1 class="booking_title">Booking passé</h1>

</div>
