<section id="card-places" class="my-5">
  <div class="container">
    <div class="title mb-1">
      <h2>Freaky Places around the world</h2>
      <p>Browse a new selection of places for crazy party</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <figure>
      <%= image_tag("space.png") %>
      <figcaption class="inside">
      </figcaption>
      <figcaption class="outside">
        <h2 class="text-orange">Shuffle in <span>Space</span></h2>
        <p class="text-desc">Make the party of your life out of earth.</p>
      </figcaption>
    </figure>


      </div>
      <div class="col-md-4">
        <figure>
      <img src="https://a0.muscache.com/im/pictures/0fe05c35-c735-4ece-8658-a648a505303d.jpg" class="mb-2"alt="">
      <figcaption class="inside">
      </figcaption>
      <figcaption class="outside">
        <h2 class="text-orange">Place at <span>Effeil tower</span></h2>
        <p class="text-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </figcaption>
    </figure>
      </div>


      <div class="col-md-4">
        <figure>
      <img src="https://a0.muscache.com/im/pictures/3e292cb8-b2c9-4058-aed7-1135c0d4154a.jpg" class="mb-2"alt="">
      <figcaption class="inside">
      </figcaption>
      <figcaption class="outside">
        <h2 class="text-orange">Place in <span>Bunker</span></h2>
        <p class="text-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </figcaption>
    </figure>
      </div>
    </div>

    <div class="col-md-4">
        <figure>
      <img src="https://a0.muscache.com/im/pictures/3e292cb8-b2c9-4058-aed7-1135c0d4154a.jpg" class="mb-2"alt="">
      <figcaption class="inside">
      </figcaption>
      <figcaption class="outside">
        <h2 class="text-orange">Place on <span>Oil rig</span></h2>
        <p class="text-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </figcaption>
    </figure>
      </div>
    </div>

  </div>
</section>
