
$primary-color: #ff5a5f;
$secondary-color: #008489;
$text-color: #484848;
$font-family: 'Helvetica Neue', sans-serif;
$border-radius: 4px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
$padding: 15px;







.navbar {
  background-color: white;
  padding: $padding;

  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: $primary-color;
    text-transform: uppercase;
    text-decoration: none;
    img {
      width: 50px;
    }
  }

  .navbar-nav {
    margin-left: 820px;

    .nav-item {
      margin-left: 20px;

      .nav-link {
        color: $text-color;
        text-decoration: none;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
