<div class="container">
    <section id="card-places" class="my-5">
      <div class="title mb-1">
        <h2>Freaky Places around the world</h2>
        <p>Browse a new selection of places for crazy party</p>
      </div>
      <div class="row">
        <% @places.each do |place|  %>
          <div class="col-md-4">
            <figure>
          <%= image_tag("space.png") %>
          <figcaption class="inside">
          </figcaption>
          <figcaption class="outside">
            <h2><%= link_to place.name, place_path(place) %></h2>
            <p><%= place.description %></p>
          </figcaption>
        </figure>
        </div>
        <% end %>
  </section>
</div>
